body{
    background-color: black;
}
.post {
    background-color: white;
    margin-left: 25%;
    width: 60%;
    height: 60%;
}
#bookmark{
    float: right;
    margin-right: 10px;
}
#secondIcon{
    float: right;
    font-size: xx-large;
}
.post-header{
    margin: 5%;
}
#firstIcon{
    float: left;
    display: flex;
    padding-top: 15px;
    font-size: xx-large;
}
.postHeadParagraph{
    float: left;
}
.bottom-icons{
    padding: 2px;
}
.post-bottom{
    padding-left: 5%;
    padding-bottom: 5%;
}